Xft.dpi: 192

Xft.autohint: 0
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1

! true = stay at bottom of output
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 4000
URxvt*scrollBar: false

URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
!get rxvt-unicode-better-wheel-scrolling to fix mouse wheel scrolling in vim/less
!URxvt*secondaryWheel: 1

URxvt*font: xft:Dank Mono:size=11:antialias=true,xft:mono:size=11:antialias=true

URxvt*cursorBlink: true

URxvt*visualBell: true
URxvt*urgentOnBell: true

! Dracula color scheme
URxvt.foreground: #F8F8F2
URxvt.background: #000000
URxvt.color0:     #000000
URxvt.color1:     #FF5555
URxvt.color2:     #50FA7B
URxvt.color3:     #F1FA8C
URxvt.color4:     #BD93F9
URxvt.color5:     #FF79C6
URxvt.color6:     #8BE9FD
URxvt.color7:     #BBBBBB
URxvt.color8:     #44475A
URxvt.color9:     #FF5555
URxvt.color10:    #50FA7B
URxvt.color11:    #F1FA8C
URxvt.color12:    #BD93F9
URxvt.color13:    #FF79C6
URxvt.color14:    #8BE9FD
URxvt.color15:    #FFFFFF

